<mat-selection-list #authors>
    <mat-list-item  *ngFor="let author of typesOfAuthors">
            <mat-list-option>
              <span *ngIf="author.id == id; else other">
                {{name}}
                </span>
                <ng-template #other>
                  {{author.name}}
                </ng-template>
        </mat-list-option>
        <a routerLink="/editauthor/{{author.id}}" routerLinkActive="active">Edit Author</a>
    </mat-list-item>
      </mat-selection-list>
     <!-- <p>
       Options selected: {{authors.selectedOptions.selected.length}}
     </p>-->
